{% if block.settings.button_link != blank and block.settings.button_text != blank %}
  <div class="content-block product-form-inline-atc" {{ block.shopify_attributes }}>
    <a href="{{ block.settings.button_link }}" class="btn btn-{{ block.settings.button_style }} btn-full-width" title="{{ block.settings.button_text | escape }}">{{ block.settings.button_text }}</a>    
  </div>
{% endif %}