{%- liquid
  assign text_color = false
  if section.settings.text_color.alpha != 0.0 and section.settings.text_color.alpha != blank
    assign text_color = true
    assign text_color_section = section.settings.text_color
  endif
  assign text_color_hover = false
  if section.settings.text_color_hover.alpha != 0.0 and section.settings.text_color_hover.alpha != blank
    assign text_color_hover = true
    assign text_color_hover_section = section.settings.text_color_hover
  endif
  assign error_color = false
  if section.settings.error_color.alpha != 0.0 and section.settings.error_color.alpha != blank
    assign error_color = true
    assign error_color_section = section.settings.error_color
  endif
  assign button_color = false
  if section.settings.button_color.alpha != 0.0 and section.settings.button_color.alpha != blank
    assign button_color = true
    assign button_color_section = section.settings.button_color
  endif
  assign line_color = false
  if section.settings.line_color.alpha != 0.0 and section.settings.line_color.alpha != blank
    assign line_color = true
    assign line_color_section = section.settings.line_color
  endif
  assign background_color = false
  if section.settings.background_color.alpha != 0.0 and section.settings.background_color.alpha != blank
    assign background_color = true
    assign background_color_section = section.settings.background_color
  endif
  if section.settings.background_gradient != blank
    assign background_color = true
    assign background_color_section = section.settings.background_gradient
  endif
-%}
{% style %}
  .dynamic-section-{{ section.id }} {
    --section-padding-top-mobile: {{ section.settings.padding_top_mobile }}px;
    --section-padding-top-desktop: {{ section.settings.padding_top_desktop }}px;
    --section-padding-bottom-mobile: {{ section.settings.padding_bottom_mobile }}px;
    --section-padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;
    --section-margin-bottom-mobile: {{ section.settings.margin_bottom_mobile }}px;
    --section-margin-bottom-desktop: {{ section.settings.margin_bottom_desktop }}px;
    {%- if text_color -%}
      --color_title_text:{{ text_color_section }};
      --color_text:{{ text_color_section }};
      --color_label:{{ text_color_section }};
      --button_primary_background:{{ text_color_section }};
      --button_primary_border:{{ text_color_section }};
      --button_secondary_border:{{ text_color_section }};
      --button_secondary_text:{{ text_color_section }};
    {%- endif -%}
    {%- if text_color_hover -%}
      --color_text_hover:{{ text_color_hover_section }};
    {%- endif -%}
    {%- if error_color -%}  
      --color_error:{{ error_color_section }};
    {%- endif -%} 
    {%- if button_color -%}  
      --button_primary_text:{{ button_color_section }};
      --button_secondary_background:{{ button_color_section }};
    {%- endif -%}        
    {%- if line_color -%}
      --color_border:{{ line_color_section }};
    {%- endif -%}
    {%- if background_color -%}
      --color_background_outline:{{ section.settings.background_color }};
      --color_background:{{ background_color_section }};
      --color_background_section:{{ background_color_section }};
    {%- endif -%}
  }
{% endstyle %}
<div class="dynamic-section dynamic-section-{{ section.id }} section-background">
  <section id="customer" 
           data-section-type="customer" 
           class="customer-template container container-inner">
    <div class="section-padding-top section-padding-bottom section-margin-bottom{% if section.settings.padding_border %} section-border{% endif %}">
      <div class="template-account">
        {%- liquid
          assign page_title = 'customers.login.header' | t
          render 'block.masthead', section: section, page_title: page_title
        -%}
        <article class="account-top template-account-login-forms slider-h-container first-visible" data-login-forms>
          {%- liquid
            render 'account.login', background_color: background_color
            for block in section.blocks
              render block
            endfor
          -%}
        </article>
      </div>
    </div>
  </section>
</div>
{% schema %}
  {
    "name": "t:sections.section.titles.login.content",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.text.title.label"
      },
      {
        "id": "title_enable",
        "type": "checkbox",
        "label": "t:sections.text.enable.label",
        "default": true
      },
      {
        "id": "title_h1",
        "type": "checkbox",
        "label": "t:sections.text.heading_one.label",
        "default": true,
        "visible_if": "{{ section.settings.title_enable == true }}"
      },
      {
        "type": "select",
        "id": "title_font",
        "label": "t:sections.text.heading_font.main.label",
        "options": [
          {
            "value": "primary",
            "label": "t:sections.text.heading_font.primary.label"
          },
          {
            "value": "secondary",
            "label": "t:sections.text.heading_font.secondary.label"
          }
        ],
        "default": "primary",
        "visible_if": "{{ section.settings.title_enable == true }}"
      },
      {
        "type": "select",
        "id": "title_outline",
        "label": "t:sections.text.outline.heading_outline.label",
        "options": [
          {
            "value": "none",
            "label": "t:sections.text.outline.option_1.label"
          },
          {
            "group": "t:sections.text.outline.background_no.label",
            "value": "title-outline title-outline-1",
            "label": "t:sections.text.outline.option_2.label"
          },
          {
            "group": "t:sections.text.outline.background_no.label",
            "value": "title-outline title-outline-2",
            "label": "t:sections.text.outline.option_3.label"
          },
          {
            "group": "t:sections.text.outline.background_no.label",
            "value": "title-outline title-outline-3",
            "label": "t:sections.text.outline.option_4.label"
          },          
          {
            "group": "t:sections.text.outline.background.label",
            "value": "title-outline title-outline-bg title-outline-1",
            "label": "t:sections.text.outline.option_2.label"
          },
          {
            "group": "t:sections.text.outline.background.label",
            "value": "title-outline title-outline-bg title-outline-2",
            "label": "t:sections.text.outline.option_3.label"
          },
          {
            "group": "t:sections.text.outline.background.label",
            "value": "title-outline title-outline-bg title-outline-3",
            "label": "t:sections.text.outline.option_4.label"
          }
        ],
        "default": "none",
        "visible_if": "{{ section.settings.title_enable == true }}"
      },
      {
        "id": "title_size",
        "type": "range",
        "label": "t:sections.text.heading_size.label",
        "min": 18,
        "max": 240,
        "step": 6,
        "unit": "px",
        "default": 42,
        "visible_if": "{{ section.settings.title_enable == true }}"
      },
      {
        "type": "checkbox",
        "id": "responsive_size",
        "label": "t:sections.text.responsive_size.label",
        "default": true,
        "visible_if": "{{ section.settings.title_enable == true }}"
      },
      {
        "id": "title_sub",
        "type": "text",
        "label": "t:sections.text.subheading.label"
      },
      {
        "type": "select",
        "id": "title_sub_font",
        "label": "t:sections.text.heading_font.sub.label",
        "options": [
          {
            "value": "primary",
            "label": "t:sections.text.heading_font.primary.label"
          },
          {
            "value": "secondary",
            "label": "t:sections.text.heading_font.secondary.label"
          }
        ],
        "default": "secondary",
        "visible_if": "{{ section.settings.title_sub != blank }}"
      },
      {
        "type": "select",
        "id": "title_sub_outline",
        "label": "t:sections.text.outline.subheading_outline.label",
        "options": [
          {
            "value": "none",
            "label": "t:sections.text.outline.option_1.label"
          },
          {
            "group": "t:sections.text.outline.background_no.label",
            "value": "title-outline title-outline-1",
            "label": "t:sections.text.outline.option_2.label"
          },
          {
            "group": "t:sections.text.outline.background_no.label",
            "value": "title-outline title-outline-2",
            "label": "t:sections.text.outline.option_3.label"
          },
          {
            "group": "t:sections.text.outline.background_no.label",
            "value": "title-outline title-outline-3",
            "label": "t:sections.text.outline.option_4.label"
          },          
          {
            "group": "t:sections.text.outline.background.label",
            "value": "title-outline title-outline-bg title-outline-1",
            "label": "t:sections.text.outline.option_2.label"
          },
          {
            "group": "t:sections.text.outline.background.label",
            "value": "title-outline title-outline-bg title-outline-2",
            "label": "t:sections.text.outline.option_3.label"
          },
          {
            "group": "t:sections.text.outline.background.label",
            "value": "title-outline title-outline-bg title-outline-3",
            "label": "t:sections.text.outline.option_4.label"
          }
        ],
        "default": "none",
        "visible_if": "{{ section.settings.title_sub != blank }}"
      },
      {
        "id": "title_sub_size",
        "type": "range",
        "label": "t:sections.text.subheading_size.label",
        "min": 18,
        "max": 240,
        "step": 6,
        "unit": "px",
        "default": 30,
        "visible_if": "{{ section.settings.title_sub != blank }}"
      },
      {
        "id": "text_color",
        "type": "color",
        "label": "t:sections.text.color.label"
      },
      {
        "id": "text_color_hover",
        "type": "color",
        "label": "t:sections.text.hover.label"
      },
      {
        "id": "error_color",
        "type": "color",
        "label": "t:settings_schema.colors.settings.elements_error.label"
      },
      {
        "id": "button_color",
        "type": "color",
        "label": "t:sections.section.settings.button_color.label"
      },
      {
        "id": "line_color",
        "type": "color",
        "label": "t:settings_schema.colors.settings.elements_line.label"
      },
      {
        "type": "header",
        "content": "t:sections.section.name.content"
      },
      {
        "id": "background_color",
        "type": "color",
        "label": "t:sections.section.settings.background_color.label"
      },
      {
        "id": "background_gradient",
        "type": "color_background",
        "label": "t:sections.section.settings.background_gradient.label"
      },
      {
        "type": "paragraph",
        "content": "t:sections.section.settings.mobile.content"
      },
      {
        "id": "padding_top_mobile",
        "type": "range",
        "label": "t:sections.section.settings.top_pad.label",
        "min": 0,
        "max": 60,
        "step": 5,
        "unit": "px",
        "default": 20
      },
      {
        "id": "padding_bottom_mobile",
        "type": "range",
        "label": "t:sections.section.settings.bottom_pad.label",
        "min": 0,
        "max": 60,
        "step": 5,
        "unit": "px",
        "default": 30
      },
      {
        "id": "margin_bottom_mobile",
        "type": "range",
        "label": "t:sections.section.settings.bottom_margin.label",
        "min": -240,
        "max": 60,
        "step": 5,
        "unit": "px",
        "default": 10
      },
      {
        "type": "paragraph",
        "content": "t:sections.section.settings.desktop.content"
      },
      {
        "id": "padding_top_desktop",
        "type": "range",
        "label": "t:sections.section.settings.top_pad.label",
        "min": 0,
        "max": 60,
        "step": 5,
        "unit": "px",
        "default": 40
      },
      {
        "id": "padding_bottom_desktop",
        "type": "range",
        "label": "t:sections.section.settings.bottom_pad.label",
        "min": 0,
        "max": 60,
        "step": 5,
        "unit": "px",
        "default": 30
      },
      {
        "id": "margin_bottom_desktop",
        "type": "range",
        "label": "t:sections.section.settings.bottom_margin.label",
        "min": -240,
        "max": 60,
        "step": 5,
        "unit": "px",
        "default": 0
      },
      {
        "id": "padding_border",
        "type": "checkbox",
        "label": "t:sections.section.settings.border.label",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "@app"
      }
    ]
  }
{% endschema %}