{% if section.blocks.size > 0 %}
  {%- liquid
    assign full_width = section.settings.full_width
    assign blocks_size_mobile = 0
    assign blocks_size_desktop = 0
    for block in section.blocks  
      assign blocks_size_mobile = blocks_size_mobile | plus: block.settings.content_width_mobile  
      assign blocks_size_desktop = blocks_size_desktop | plus: block.settings.content_width_desktop
    endfor
    assign enable_slider = false  
    assign enable_slider_mobile = section.settings.enable_slider_mobile
    assign enable_slider_desktop = section.settings.enable_slider_desktop
    if enable_slider_mobile or enable_slider_desktop  
      if enable_slider_mobile and enable_slider_desktop == false
        if blocks_size_mobile > 4
          assign enable_slider = true
          assign enable_slider_size = 'small'
        endif  
      elsif enable_slider_mobile == false and enable_slider_desktop
        if blocks_size_desktop > 6
          assign enable_slider = true
          assign enable_slider_size = 'large-only'
        endif  
      else
        if blocks_size_mobile > 4 and blocks_size_desktop > 6
          assign enable_slider = true
          assign enable_slider_size = 'large'
        elsif blocks_size_mobile < 4 and blocks_size_desktop > 6
          assign enable_slider = true
          assign enable_slider_size = 'large-only'
        elsif blocks_size_mobile > 4 and blocks_size_desktop < 6
          assign enable_slider = true
          assign enable_slider_size = 'small'
        endif            
      endif          
    endif  
    if section.settings.enable_lazy
      assign lazy = 'lazy'
    else
      assign lazy = 'eager'
    endif
    assign slider_color = false
    if section.settings.slider_color.alpha != 0.0 and section.settings.slider_color.alpha != blank
      assign slider_color = true
      assign slider_color_section = section.settings.slider_color
    endif
    assign background_color = false
    if section.settings.background_color.alpha != 0.0 and section.settings.background_color.alpha != blank
      assign background_color = true
      assign background_color_section = section.settings.background_color
    endif
    if section.settings.background_gradient != blank
      assign background_color = true
      assign background_color_section = section.settings.background_gradient
    endif
  -%}  
  {% style %}
    .dynamic-section-{{ section.id }} {
      --section-padding-top-mobile: {{ section.settings.padding_top_mobile }}px;
      --section-padding-top-desktop: {{ section.settings.padding_top_desktop }}px;
      --section-padding-bottom-mobile: {{ section.settings.padding_bottom_mobile }}px;
      --section-padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;
      --section-margin-bottom-mobile: {{ section.settings.margin_bottom_mobile }}px;
      --section-margin-bottom-desktop: {{ section.settings.margin_bottom_desktop }}px;      
      --content_width_mobile: 100%;
      --content_width_desktop: 100%;    
      --grid-mobile: {{ section.settings.padding_grid_mobile }}px;
      --grid-desktop: {{ section.settings.padding_grid_desktop }}px;    
      {%- if slider_color -%}
      --slider_color:{{ slider_color_section }};
      --slider_color_modify_25:{{ slider_color_section | color_modify: 'alpha', 0.25 }};
      {%- endif -%}
      {%- if background_color -%}
        --color_background_outline:{{ section.settings.background_color }};
        --color_background:{{ background_color_section }};
        --color_background_section:{{ background_color_section }};
      {%- endif -%}
    }    
  {% endstyle %}  
  <div class="dynamic-section dynamic-section-{{ section.id }}{% if full_width %} section-background{% endif %}">
    <section data-section-id="{{ section.id }}" 
             {% if enable_slider %}
               data-section-type="slider-{{ section.id }}"
               data-url="{{ 'script.slider.js' | asset_url }}"
               data-slider-use="true"
               data-slider-breakpoint="{{ enable_slider_size }}"
             {% else %}
               data-section-type="video-{{ section.id }}"
               data-slider-breakpoint="none"
             {% endif %}
             class="relative">  
      <div class="section-layout-card-wrapper section-padding-top section-padding-bottom section-margin-bottom{% if section.settings.padding_border %} section-border{% endif %}{% unless full_width %} section-background{% endunless %}">
        <div class="{% if enable_slider %}slider-container slider-padding {% endif %}section-card-wrapper section-card-wrapper-{{ section.settings.layout_x }}">          
          <div class="{% if enable_slider %}slider {{ enable_slider_size }} scroll-bar-h {% endif %}{% unless enable_slider_size == 'large' %}container-inner{% endunless %}">
            <div class="dynamic-block-{{ section.id }} section-card-rows skip">              
              {%- liquid
                assign mn = 0
                assign dn = 0
                assign mr = 1
                assign dr = 1              
                assign mobile_class = 'mobile-first'
                assign desktop_class = 'desktop-first'
                assign slider_mobile = section.settings.enable_slider_mobile
                assign slider_desktop = section.settings.enable_slider_desktop
                assign rows_mobile_padding = section.settings.padding_grid_mobile
                assign rows_desktop_padding = section.settings.padding_grid_desktop   
                for block in section.blocks
                  assign rows_mobile = block.settings.content_width_mobile
                  assign rows_desktop = block.settings.content_width_desktop
                  assign mn = mn | plus: rows_mobile
                  assign dn = dn | plus: rows_desktop
                  if mn == 4
                    assign mobile_class = 'mobile-last'
                  else
                    unless forloop.first
                      assign mobile_class = 'mobile-middle'
                    endunless
                  endif              
                  if mn > 4
                    assign mn = 0 | plus: rows_mobile
                    assign mr = mr | plus: 1
                    assign mobile_class = 'mobile-first'                
                  endif             
                  if dn == 6
                    assign desktop_class = 'desktop-last'
                  else
                    unless forloop.first
                      assign desktop_class = 'desktop-middle'
                    endunless
                  endif
                  if dn > 6
                    assign dn = 0 | plus: rows_desktop
                    assign dr = dr | plus: 1
                    assign desktop_class = 'desktop-first'                
                  endif
                  assign class = mobile_class | append: ' ' | append: desktop_class                  
                  if block.settings.include_border
                    assign include_border = 42
                  else
                    assign include_border = 0
                  endif
                  assign total = 0 | plus: include_border | append: 'px'  
                  assign mobile_multiplier = 1
                  case rows_mobile
                    when 1
                      assign mobile_size = 178
                    when 2
                      assign mobile_size = 355
                    when 3
                      assign mobile_size = 532
                    when 4
                      assign mobile_size = 710
                      assign mobile_multiplier = 0
                  endcase                         
                  if enable_slider_mobile
                    assign mobile_divide = 0
                  else
                    if mobile_class == 'mobile-first' or mobile_class == 'mobile-last'
                      assign mobile_divide = 0.5
                    else
                      assign mobile_divide = 1
                    endif
                  endif                         
                  capture mobile_sizes
                    echo 'calc(((100dvw - 40px) * ('
                    echo rows_mobile
                    echo ' / 4)) - ('
                    if rows_mobile < 4
                      echo rows_mobile_padding
                    else
                      echo 0
                    endif
                    echo 'px * ('
                    echo mobile_divide
                    echo ' / 1)) - '
                    echo total
                    echo ')'
                  endcapture                         
                  assign desktop_multiplier = 1                         
                  case rows_desktop
                    when 1
                      assign desktop_size = 207
                    when 2
                      assign desktop_size = 413
                    when 3
                      assign desktop_size = 620
                    when 4
                      assign desktop_size = 827
                    when 5
                      assign desktop_size = 1033
                    when 6
                      assign desktop_size = 1240
                      assign desktop_multiplier = 0
                  endcase
                  if enable_slider_desktop
                    assign desktop_divide = 0
                  else
                    if desktop_class == 'desktop-first' or desktop_class == 'desktop-last'
                      assign desktop_divide = 0.5
                    else
                      assign desktop_divide = 1
                    endif
                  endif
                  capture desktop_sizes
                    echo 'calc(((100dvw - 40px) * ('
                    echo rows_desktop
                    echo ' / 6)) - ('
                    if rows_desktop < 6
                      echo rows_desktop_padding
                    else
                      echo 0
                    endif
                    echo 'px * ('
                    echo desktop_divide
                    echo ' / 1)) - '
                    echo total
                    echo ')'
                  endcapture
                  assign mobile_column_padding = mobile_multiplier | times: rows_mobile_padding | times: mobile_divide | divided_by: 1
                  assign desktop_column_padding = desktop_multiplier | times: rows_desktop_padding | times: desktop_divide | divided_by: 1                   
                  if mobile_size > desktop_size
                    assign size = mobile_size | minus: include_border | minus: mobile_column_padding
                  else
                    assign size = desktop_size | minus: include_border | minus: desktop_column_padding
                  endif
                  capture sizes
                    echo '(min-width: 1280px) '
                    echo desktop_size | minus: include_border | minus: desktop_column_padding
                    echo 'px, (min-width: 768px) '
                    echo desktop_sizes
                    echo ', '
                    echo mobile_sizes
                  endcapture
                  case block.type
                    when 'text' 
                      render 'block.image_text', section: section, block: block, class: class, forloop: forloop
                    when 'video_embed' 
                      render 'block.video', section: block, block: block, video_embed: true, is_block: true, layout_y: section.settings.layout_y, slider_mobile: slider_mobile, slider_desktop: slider_desktop, rows_mobile_padding: rows_mobile_padding, rows_desktop_padding: rows_desktop_padding, rows_mobile: rows_mobile, rows_desktop: rows_desktop, mobile_class: mobile_class, desktop_class: desktop_class, class: class, size: size, sizes: sizes, forloop: forloop, lazy: lazy
                    when 'video_background' 
                      render 'block.video', section: block, block: block, video_background: true, build_background: true, image_background: block.settings.image_background, is_block: true, layout_y: section.settings.layout_y, slider_mobile: slider_mobile, slider_desktop: slider_desktop, rows_mobile_padding: rows_mobile_padding, rows_desktop_padding: rows_desktop_padding, rows_mobile: rows_mobile, rows_desktop: rows_desktop, mobile_class: mobile_class, desktop_class: desktop_class, class: class, size: size, sizes: sizes, forloop: forloop, lazy: lazy
                  endcase
                endfor
              -%}
            </div>
          </div>          
        </div>    
      </div>
    </section>
  </div>
{% endif %}
{% schema %}
  {
    "name": "t:sections.section.titles.video.content",
    "settings": [
      {
        "type": "select",
        "id": "layout_x",
        "label": "t:sections.general.position.position_x.align.label",
        "options": [
          {
            "value": "left",
            "label": "t:sections.general.position.left.label"
          },
          {
            "value": "center",
            "label": "t:sections.general.position.center.label"
          },
          {
            "value": "right",
            "label": "t:sections.general.position.right.label"
          }
        ],
        "default": "center"
      },
      {
        "type": "select",
        "id": "layout_y",
        "label": "t:sections.general.position.position_y.align.label",
        "options": [
          {
            "value": "start",
            "label": "t:sections.general.position.top.label"
          },
          {
            "value": "center",
            "label": "t:sections.general.position.middle.label"
          },
          {
            "value": "end",
            "label": "t:sections.general.position.bottom.label"
          }
        ],
        "default": "center"
      },
      {
        "type": "range",
        "id": "padding_grid_mobile",
        "label": "t:sections.general.padding.mobile.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 20
      },
      {
        "type": "range",
        "id": "padding_grid_desktop",
        "label": "t:sections.general.padding.desktop.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 20
      },
      {
        "id": "enable_lazy",
        "type": "checkbox",
        "label": "t:sections.general.lazy.multiple.label",
        "default": true
      },    
      {
        "type": "header",
        "content": "t:sections.general.slider.label"
      },
      {
        "id": "enable_slider_mobile",
        "type": "checkbox",
        "label": "t:sections.section.settings.mobile.content",
        "default": true
      },
      {
        "id": "enable_slider_desktop",
        "type": "checkbox",
        "label": "t:sections.section.settings.desktop.content",
        "default": false
      },
      {
        "id": "slider_color",
        "type": "color",
        "label": "t:sections.general.slider.color.label"
      },
      {
        "type": "header",
        "content": "t:sections.section.name.content"
      },
      {
        "type": "checkbox",
        "id": "image_size",
        "label": "t:sections.image.editor.size.label",
        "info": "t:sections.image.editor.size.info",
        "default": false
      },
      {
        "id": "full_width",
        "type": "checkbox",
        "label": "t:sections.image.full.label",
        "default": true
      },
      {
        "id": "background_color",
        "type": "color",
        "label": "t:sections.section.settings.background_color.label"
      },
      {
        "id": "background_gradient",
        "type": "color_background",
        "label": "t:sections.section.settings.background_gradient.label"
      },
      {
        "type": "paragraph",
        "content": "t:sections.section.settings.mobile.content"
      },
      {
        "id": "padding_top_mobile",
        "type": "range",
        "label": "t:sections.section.settings.top_pad.label",
        "min": 0,
        "max": 60,
        "step": 5,
        "unit": "px",
        "default": 0
      },
      {
        "id": "padding_bottom_mobile",
        "type": "range",
        "label": "t:sections.section.settings.bottom_pad.label",
        "min": 0,
        "max": 60,
        "step": 5,
        "unit": "px",
        "default": 0
      },
      {
        "id": "margin_bottom_mobile",
        "type": "range",
        "label": "t:sections.section.settings.bottom_margin.label",
        "min": -240,
        "max": 60,
        "step": 5,
        "unit": "px",
        "default": 20
      },
      {
        "type": "paragraph",
        "content": "t:sections.section.settings.desktop.content"
      },
      {
        "id": "padding_top_desktop",
        "type": "range",
        "label": "t:sections.section.settings.top_pad.label",
        "min": 0,
        "max": 60,
        "step": 5,
        "unit": "px",
        "default": 0
      },
      {
        "id": "padding_bottom_desktop",
        "type": "range",
        "label": "t:sections.section.settings.bottom_pad.label",
        "min": 0,
        "max": 60,
        "step": 5,
        "unit": "px",
        "default": 0
      },
      {
        "id": "margin_bottom_desktop",
        "type": "range",
        "label": "t:sections.section.settings.bottom_margin.label",
        "min": -240,
        "max": 60,
        "step": 5,
        "unit": "px",
        "default": 40
      },
      {
        "id": "padding_border",
        "type": "checkbox",
        "label": "t:sections.section.settings.border.label",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "text",
        "limit": 1,
        "name": "t:sections.text.title.label",
        "settings": [
          {
            "type": "range",
            "id": "content_width_mobile",
            "label": "t:sections.general.rows.columns.width.mobile.label",
            "min": 1,
            "max": 4,
            "step": 1,
            "unit": "/4",
            "default": 2
          },
          {
            "type": "range",
            "id": "content_width_desktop",
            "label": "t:sections.general.rows.columns.width.desktop.label",
            "min": 1,
            "max": 6,
            "step": 1,
            "unit": "/6",
            "default": 2
          },
          {
            "type": "checkbox",
            "id": "include_border",
            "label": "t:sections.general.border.label",
            "default": false
          },
          {
            "type": "header",
            "content": "t:sections.text.title.label"
          },
          {
            "id": "title",
            "type": "text",
            "label": "t:sections.text.heading.label",
            "default": "t:onboarding.video.title"
          },
          {
            "id": "title_h1",
            "type": "checkbox",
            "label": "t:sections.text.heading_one.label",
            "default": false
          },
          {
            "type": "select",
            "id": "title_font",
            "label": "t:sections.text.heading_font.main.label",
            "options": [
              {
                "value": "primary",
                "label": "t:sections.text.heading_font.primary.label"
              },
              {
                "value": "secondary",
                "label": "t:sections.text.heading_font.secondary.label"
              }
            ],
            "default": "primary"
          },
          {
            "type": "select",
            "id": "title_outline",
            "label": "t:sections.text.outline.heading_outline.label",
            "options": [
              {
                "value": "none",
                "label": "t:sections.text.outline.option_1.label"
              },
              {
                "group": "t:sections.text.outline.background_no.label",
                "value": "title-outline title-outline-1",
                "label": "t:sections.text.outline.option_2.label"
              },
              {
                "group": "t:sections.text.outline.background_no.label",
                "value": "title-outline title-outline-2",
                "label": "t:sections.text.outline.option_3.label"
              },
              {
                "group": "t:sections.text.outline.background_no.label",
                "value": "title-outline title-outline-3",
                "label": "t:sections.text.outline.option_4.label"
              },          
              {
                "group": "t:sections.text.outline.background.label",
                "value": "title-outline title-outline-bg title-outline-1",
                "label": "t:sections.text.outline.option_2.label"
              },
              {
                "group": "t:sections.text.outline.background.label",
                "value": "title-outline title-outline-bg title-outline-2",
                "label": "t:sections.text.outline.option_3.label"
              },
              {
                "group": "t:sections.text.outline.background.label",
                "value": "title-outline title-outline-bg title-outline-3",
                "label": "t:sections.text.outline.option_4.label"
              }
            ],
            "default": "none"
          },
          {
            "id": "title_size",
            "type": "range",
            "label": "t:sections.text.heading_size.label",
            "min": 18,
            "max": 240,
            "step": 6,
            "unit": "px",
            "default": 42
          },
          {
            "type": "checkbox",
            "id": "responsive_size",
            "label": "t:sections.text.responsive_size.label",
            "default": true
          },
          {
            "id": "title_sub",
            "type": "text",
            "label": "t:sections.text.subheading.label",
            "default": "t:onboarding.highlight.video"
          },
          {
            "type": "select",
            "id": "title_sub_font",
            "label": "t:sections.text.heading_font.sub.label",
            "options": [
              {
                "value": "primary",
                "label": "t:sections.text.heading_font.primary.label"
              },
              {
                "value": "secondary",
                "label": "t:sections.text.heading_font.secondary.label"
              }
            ],
            "default": "secondary"
          },
          {
            "type": "select",
            "id": "title_sub_outline",
            "label": "t:sections.text.outline.subheading_outline.label",
            "options": [
              {
                "value": "none",
                "label": "t:sections.text.outline.option_1.label"
              },
              {
                "group": "t:sections.text.outline.background_no.label",
                "value": "title-outline title-outline-1",
                "label": "t:sections.text.outline.option_2.label"
              },
              {
                "group": "t:sections.text.outline.background_no.label",
                "value": "title-outline title-outline-2",
                "label": "t:sections.text.outline.option_3.label"
              },
              {
                "group": "t:sections.text.outline.background_no.label",
                "value": "title-outline title-outline-3",
                "label": "t:sections.text.outline.option_4.label"
              },          
              {
                "group": "t:sections.text.outline.background.label",
                "value": "title-outline title-outline-bg title-outline-1",
                "label": "t:sections.text.outline.option_2.label"
              },
              {
                "group": "t:sections.text.outline.background.label",
                "value": "title-outline title-outline-bg title-outline-2",
                "label": "t:sections.text.outline.option_3.label"
              },
              {
                "group": "t:sections.text.outline.background.label",
                "value": "title-outline title-outline-bg title-outline-3",
                "label": "t:sections.text.outline.option_4.label"
              }
            ],
            "default": "none"
          },
          {
            "id": "title_sub_size",
            "type": "range",
            "label": "t:sections.text.subheading_size.label",
            "min": 18,
            "max": 240,
            "step": 6,
            "unit": "px",
            "default": 30
          },
          {
            "id": "text_border",
            "type": "checkbox",
            "label": "t:sections.text.border.label",
            "default": true
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "t:sections.general.text.label"
          },
          {
            "type": "url",
            "id": "link_1",
            "label": "t:sections.general.link.title_1.label"
          },
          {
            "type": "text",
            "id": "link_1_seo",
            "label": "t:sections.general.link.seo.label"
          },
          {
            "type": "text",
            "id": "button_text_1",
            "label": "t:sections.general.link.title_1_text.label",
            "default": "t:onboarding.text.read"
          },
          {
            "type": "select",
            "id": "link_style_1",
            "label": "t:sections.general.link.title_1_style.label",
            "options": [
              {
                "value": "text",
                "label": "t:sections.general.text.label"
              },
              {
                "value": "primary",
                "label": "t:settings_schema.buttons.settings.primary.content"
              },
              {
                "value": "secondary",
                "label": "t:settings_schema.buttons.settings.secondary.content"
              }
            ],
            "default": "primary"
          },
          {
            "type": "url",
            "id": "link_2",
            "label": "t:sections.general.link.title_2.label"
          },
          {
            "type": "text",
            "id": "link_2_seo",
            "label": "t:sections.general.link.seo.label"
          },
          {
            "type": "text",
            "id": "button_text_2",
            "label": "t:sections.general.link.title_2_text.label",
            "default": "t:onboarding.text.read"
          },
          {
            "type": "select",
            "id": "link_style_2",
            "label": "t:sections.general.link.title_2_style.label",
            "options": [
              {
                "value": "text",
                "label": "t:sections.general.text.label"
              },
              {
                "value": "primary",
                "label": "t:settings_schema.buttons.settings.primary.content"
              },
              {
                "value": "secondary",
                "label": "t:settings_schema.buttons.settings.secondary.content"
              }
            ],
            "default": "secondary"
          },
          {
            "id": "text_alignment",
            "type": "text_alignment",
            "label": "t:sections.text.alignment.text.label",
            "default": "center"
          },
          {
            "id": "text_color",
            "type": "color",
            "label": "t:sections.text.color.label"
          },
          {
            "id": "text_color_hover",
            "type": "color",
            "label": "t:sections.text.hover.label"
          },
          {
            "id": "button_color",
            "type": "color",
            "label": "t:sections.section.settings.button_color.label"
          },
          {
            "id": "line_color",
            "type": "color",
            "label": "t:settings_schema.colors.settings.elements_line.label"
          },
          {
            "id": "text_background_color",
            "type": "color",
            "label": "t:sections.section.settings.background_color.label"
          },
          {
            "id": "text_background_gradient",
            "type": "color_background",
            "label": "t:sections.section.settings.background_gradient.label"
          },
          {
            "type": "range",
            "id": "text_background_opacity",
            "label": "t:sections.section.settings.background_opacity.label",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "default": 90
          }
        ]
      },
      {
        "type": "video_embed",
        "name": "t:sections.general.video.type.embed.label",
        "settings": [
          {
            "type": "range",
            "id": "content_width_mobile",
            "label": "t:sections.general.rows.columns.width.mobile.label",
            "min": 1,
            "max": 4,
            "step": 1,
            "unit": "/4",
            "default": 2
          },
          {
            "type": "range",
            "id": "content_width_desktop",
            "label": "t:sections.general.rows.columns.width.desktop.label",
            "min": 1,
            "max": 6,
            "step": 1,
            "unit": "/6",
            "default": 2
          },
          {
            "type": "checkbox",
            "id": "include_border",
            "label": "t:sections.general.border.label",
            "default": false
          },
          {
            "type": "video_url",
            "id": "video",
            "label": "t:sections.general.video.link.embed.label",
            "accept": ["youtube", "vimeo"],
            "default": "https://youtu.be/_9VUPq3SxOc"
          },
          {
            "type": "checkbox",
            "id": "enable_loop",
            "label": "t:sections.general.video.enable.label",
            "default": true
          },
          {
            "type": "text",
            "id": "link_seo",
            "label": "t:sections.general.link.seo.label"
          },
          {
            "type": "image_picker",
            "id": "image_desktop",
            "label": "t:sections.image.placeholder.label"
          },
          {
            "type": "select",
            "id": "insta_filter",
            "label": "t:sections.image.insta.label",
            "options": [
              {
                "value": "none",
                "label": "t:sections.image.insta.option_0.label"
              },
              {
                "value": "insta insta-seventy-seven",
                "label": "t:sections.image.insta.option_1.label"
              },
              {
                "value": "insta insta-aden",
                "label": "t:sections.image.insta.option_2.label"
              },
              {
                "value": "insta insta-amaro",
                "label": "t:sections.image.insta.option_3.label"
              },
              {
                "value": "insta insta-ashby",
                "label": "t:sections.image.insta.option_4.label"
              },
              {
                "value": "insta insta-brannan",
                "label": "t:sections.image.insta.option_5.label"
              },
              {
                "value": "insta insta-brooklyn",
                "label": "t:sections.image.insta.option_6.label"
              },
              {
                "value": "insta insta-charmes",
                "label": "t:sections.image.insta.option_7.label"
              },
              {
                "value": "insta insta-clarendon",
                "label": "t:sections.image.insta.option_8.label"
              },
              {
                "value": "insta insta-crema",
                "label": "t:sections.image.insta.option_9.label"
              },
              {
                "value": "insta insta-dogpatch",
                "label": "t:sections.image.insta.option_10.label"
              },
              {
                "value": "insta insta-earlybird",
                "label": "t:sections.image.insta.option_11.label"
              },
              {
                "value": "insta insta-gingham",
                "label": "t:sections.image.insta.option_12.label"
              },
              {
                "value": "insta insta-ginza",
                "label": "t:sections.image.insta.option_13.label"
              },
              {
                "value": "insta insta-hefe",
                "label": "t:sections.image.insta.option_14.label"
              },
              {
                "value": "insta insta-helena",
                "label": "t:sections.image.insta.option_15.label"
              },
              {
                "value": "insta insta-hudson",
                "label": "t:sections.image.insta.option_16.label"
              },
              {
                "value": "insta insta-inkwell",
                "label": "t:sections.image.insta.option_17.label"
              },
              {
                "value": "insta insta-juno",
                "label": "t:sections.image.insta.option_18.label"
              },
              {
                "value": "insta insta-kelvin",
                "label": "t:sections.image.insta.option_19.label"
              },
              {
                "value": "insta insta-lark",
                "label": "t:sections.image.insta.option_20.label"
              },
              {
                "value": "insta insta-lofi",
                "label": "t:sections.image.insta.option_21.label"
              },
              {
                "value": "insta insta-ludwig",
                "label": "t:sections.image.insta.option_22.label"
              },
              {
                "value": "insta insta-maven",
                "label": "t:sections.image.insta.option_23.label"
              },
              {
                "value": "insta insta-mayfair",
                "label": "t:sections.image.insta.option_24.label"
              },
              {
                "value": "insta insta-moon",
                "label": "t:sections.image.insta.option_25.label"
              },
              {
                "value": "insta insta-nashville",
                "label": "t:sections.image.insta.option_26.label"
              },
              {
                "value": "insta insta-perpetua",
                "label": "t:sections.image.insta.option_27.label"
              },
              {
                "value": "insta insta-poprocket",
                "label": "t:sections.image.insta.option_28.label"
              },
              {
                "value": "insta insta-reyes",
                "label": "t:sections.image.insta.option_29.label"
              },
              {
                "value": "insta insta-rise",
                "label": "t:sections.image.insta.option_30.label"
              },
              {
                "value": "insta insta-sierra",
                "label": "t:sections.image.insta.option_31.label"
              },
              {
                "value": "insta insta-skyline",
                "label": "t:sections.image.insta.option_32.label"
              },
              {
                "value": "insta insta-slumber",
                "label": "t:sections.image.insta.option_33.label"
              },
              {
                "value": "insta insta-stinson",
                "label": "t:sections.image.insta.option_34.label"
              },
              {
                "value": "insta insta-sutro",
                "label": "t:sections.image.insta.option_35.label"
              },
              {
                "value": "insta insta-toaster",
                "label": "t:sections.image.insta.option_36.label"
              },
              {
                "value": "insta insta-valencia",
                "label": "t:sections.image.insta.option_37.label"
              },
              {
                "value": "insta insta-vesper",
                "label": "t:sections.image.insta.option_38.label"
              },
              {
                "value": "insta insta-walden",
                "label": "t:sections.image.insta.option_39.label"
              },
              {
                "value": "insta insta-willow",
                "label": "t:sections.image.insta.option_40.label"
              },
              {
                "value": "insta insta-xpro2",
                "label": "t:sections.image.insta.option_41.label"
              }
            ],
            "default": "none"
          },
          {
            "id": "play_background",
            "type": "color",
            "label": "t:sections.section.settings.button_color.label"
          },
          {
            "id": "play_arrow",
            "type": "color",
            "label": "t:sections.section.settings.arrow_color.label"
          },
          {
            "id": "line_color",
            "type": "color",
            "label": "t:settings_schema.colors.settings.elements_line.label"
          }
        ]
      },
      {
        "type": "video_background",
        "name": "t:sections.general.video.type.background.label",
        "settings": [
          {
            "type": "range",
            "id": "content_width_mobile",
            "label": "t:sections.general.rows.columns.width.mobile.label",
            "min": 1,
            "max": 4,
            "step": 1,
            "unit": "/4",
            "default": 2
          },
          {
            "type": "range",
            "id": "content_width_desktop",
            "label": "t:sections.general.rows.columns.width.desktop.label",
            "min": 1,
            "max": 6,
            "step": 1,
            "unit": "/6",
            "default": 2
          },
          {
            "type": "checkbox",
            "id": "include_border",
            "label": "t:sections.general.border.label",
            "default": false
          },
          {
            "id": "line_color",
            "type": "color",
            "label": "t:settings_schema.colors.settings.elements_line.label"
          },
          {
            "type": "header",
            "content": "t:sections.general.video.height.label"
          },
          {
            "id": "image_background",
            "type": "checkbox",
            "label": "t:sections.general.video.height.video_background.label",
            "info": "t:sections.general.video.height.video_background.info",
            "default": false
          },
          {
            "type": "range",
            "id": "section_height_mobile",
            "label": "t:sections.section.settings.mobile.content",
            "min": 10,
            "max": 100,
            "step": 1,
            "unit": "%",
            "default": 50
          },
          {
            "type": "range",
            "id": "section_height_desktop",
            "label": "t:sections.section.settings.desktop.content",
            "min": 10,
            "max": 100,
            "step": 1,
            "unit": "%",
            "default": 50
          },
          {
            "type": "header",
            "content": "t:sections.general.video.label"
          },
          {
            "type": "url",
            "id": "link",
            "label": "t:sections.general.link.title.label"
          },
          {
            "type": "text",
            "id": "link_seo",
            "label": "t:sections.general.link.seo.label"
          },
          {
            "type": "video",
            "id": "video",
            "label": "t:sections.general.video.label",
            "info": "t:sections.general.video.link.background.info"
          },
          {
            "type": "image_picker",
            "id": "image_desktop",
            "label": "t:sections.image.placeholder.label"
          },
          {
            "type": "select",
            "id": "insta_filter",
            "label": "t:sections.image.insta.label",
            "options": [
              {
                "value": "none",
                "label": "t:sections.image.insta.option_0.label"
              },
              {
                "value": "insta insta-seventy-seven",
                "label": "t:sections.image.insta.option_1.label"
              },
              {
                "value": "insta insta-aden",
                "label": "t:sections.image.insta.option_2.label"
              },
              {
                "value": "insta insta-amaro",
                "label": "t:sections.image.insta.option_3.label"
              },
              {
                "value": "insta insta-ashby",
                "label": "t:sections.image.insta.option_4.label"
              },
              {
                "value": "insta insta-brannan",
                "label": "t:sections.image.insta.option_5.label"
              },
              {
                "value": "insta insta-brooklyn",
                "label": "t:sections.image.insta.option_6.label"
              },
              {
                "value": "insta insta-charmes",
                "label": "t:sections.image.insta.option_7.label"
              },
              {
                "value": "insta insta-clarendon",
                "label": "t:sections.image.insta.option_8.label"
              },
              {
                "value": "insta insta-crema",
                "label": "t:sections.image.insta.option_9.label"
              },
              {
                "value": "insta insta-dogpatch",
                "label": "t:sections.image.insta.option_10.label"
              },
              {
                "value": "insta insta-earlybird",
                "label": "t:sections.image.insta.option_11.label"
              },
              {
                "value": "insta insta-gingham",
                "label": "t:sections.image.insta.option_12.label"
              },
              {
                "value": "insta insta-ginza",
                "label": "t:sections.image.insta.option_13.label"
              },
              {
                "value": "insta insta-hefe",
                "label": "t:sections.image.insta.option_14.label"
              },
              {
                "value": "insta insta-helena",
                "label": "t:sections.image.insta.option_15.label"
              },
              {
                "value": "insta insta-hudson",
                "label": "t:sections.image.insta.option_16.label"
              },
              {
                "value": "insta insta-inkwell",
                "label": "t:sections.image.insta.option_17.label"
              },
              {
                "value": "insta insta-juno",
                "label": "t:sections.image.insta.option_18.label"
              },
              {
                "value": "insta insta-kelvin",
                "label": "t:sections.image.insta.option_19.label"
              },
              {
                "value": "insta insta-lark",
                "label": "t:sections.image.insta.option_20.label"
              },
              {
                "value": "insta insta-lofi",
                "label": "t:sections.image.insta.option_21.label"
              },
              {
                "value": "insta insta-ludwig",
                "label": "t:sections.image.insta.option_22.label"
              },
              {
                "value": "insta insta-maven",
                "label": "t:sections.image.insta.option_23.label"
              },
              {
                "value": "insta insta-mayfair",
                "label": "t:sections.image.insta.option_24.label"
              },
              {
                "value": "insta insta-moon",
                "label": "t:sections.image.insta.option_25.label"
              },
              {
                "value": "insta insta-nashville",
                "label": "t:sections.image.insta.option_26.label"
              },
              {
                "value": "insta insta-perpetua",
                "label": "t:sections.image.insta.option_27.label"
              },
              {
                "value": "insta insta-poprocket",
                "label": "t:sections.image.insta.option_28.label"
              },
              {
                "value": "insta insta-reyes",
                "label": "t:sections.image.insta.option_29.label"
              },
              {
                "value": "insta insta-rise",
                "label": "t:sections.image.insta.option_30.label"
              },
              {
                "value": "insta insta-sierra",
                "label": "t:sections.image.insta.option_31.label"
              },
              {
                "value": "insta insta-skyline",
                "label": "t:sections.image.insta.option_32.label"
              },
              {
                "value": "insta insta-slumber",
                "label": "t:sections.image.insta.option_33.label"
              },
              {
                "value": "insta insta-stinson",
                "label": "t:sections.image.insta.option_34.label"
              },
              {
                "value": "insta insta-sutro",
                "label": "t:sections.image.insta.option_35.label"
              },
              {
                "value": "insta insta-toaster",
                "label": "t:sections.image.insta.option_36.label"
              },
              {
                "value": "insta insta-valencia",
                "label": "t:sections.image.insta.option_37.label"
              },
              {
                "value": "insta insta-vesper",
                "label": "t:sections.image.insta.option_38.label"
              },
              {
                "value": "insta insta-walden",
                "label": "t:sections.image.insta.option_39.label"
              },
              {
                "value": "insta insta-willow",
                "label": "t:sections.image.insta.option_40.label"
              },
              {
                "value": "insta insta-xpro2",
                "label": "t:sections.image.insta.option_41.label"
              }
            ],
            "default": "none"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.section.titles.video.content",
		"category": "t:categories.media",
        "blocks": [
          {
            "type": "text"
          },
          {
            "type": "video_embed"
          },
          {
            "type": "video_background"
          }
        ]
      }
    ],
    "disabled_on": {
	  "templates": ["password"]
    }
  }
{% endschema %}